<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Clear Console"
            id="command.clearconsole.id">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="command.clearconsole.id"
            class="info.bonjean.eclipse.consoleclear.core.ConsoleClearHandler">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:edit">
         <command
               commandId="command.clearconsole.id"
               id="command.clearconsole.menu.memonic.id"
               mnemonic="C">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="command.clearconsole.id"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F10">
      </key>
   </extension>
</plugin>
